{
  "openapi": "3.1.0",
  "info": {
    "title": "Investors API",
    "description": "Access comprehensive venture capital and investor data with filtering by type, country, ticket size, headquarters, and search. Returns VC firms, angel investors, PE firms, corporate investors, accelerators, and more.",
    "license": {
      "name": "MIT"
    },
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://www.trysignalbase.com/api/v2"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/signals/investors": {
      "get": {
        "summary": "Get Investor Data",
        "description": "Fetch investor data with filtering, pagination, and search. Returns venture capital firms, angel investors, PE firms, corporate investors, accelerators, family offices, hedge funds, and crowdfunding platforms.",
        "operationId": "getInvestors",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": { "type": "integer", "minimum": 1, "default": 1 },
            "example": 1
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results per page (maximum 100)",
            "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 20 },
            "example": 20
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "Filter by created date from (ISO 8601 format: YYYY-MM-DD)",
            "schema": { "type": "string", "format": "date" },
            "example": "2024-01-01"
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "Filter by created date to (ISO 8601 format: YYYY-MM-DD)",
            "schema": { "type": "string", "format": "date" },
            "example": "2024-12-31"
          },
          {
            "name": "date_preset",
            "in": "query",
            "description": "Relative date shorthand. Takes precedence over dateFrom/dateTo.",
            "schema": {
              "type": "string",
              "enum": [
                "today", "yesterday", "last_7d", "last_14d", "last_30d",
                "last_60d", "last_90d", "last_6m", "last_1y", "last_2y",
                "this_week", "this_month", "this_quarter", "this_year",
                "last_week", "last_month", "last_quarter", "last_year"
              ]
            },
            "example": "last_1y"
          },
          {
            "name": "search",
            "in": "query",
            "description": "Free-text search across investor name and type",
            "schema": { "type": "string" },
            "example": "sequoia"
          },
          {
            "name": "countries",
            "in": "query",
            "description": "Comma-separated list of country codes to filter by (matches investor's countries JSON array)",
            "schema": { "type": "string" },
            "example": "US,GB"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Comma-separated list of investor types to filter by",
            "schema": {
              "type": "string",
              "enum": ["vc", "angel", "pe", "corporate", "government", "accelerator", "family_office", "hedge_fund", "crowdfunding"]
            },
            "example": "vc,angel"
          },
          {
            "name": "categories",
            "in": "query",
            "description": "Legacy: Pipe-separated list of investor types (same as type parameter)",
            "schema": { "type": "string" },
            "example": "vc|angel"
          },
          {
            "name": "headquarters",
            "in": "query",
            "description": "Search by headquarters location (partial match)",
            "schema": { "type": "string" },
            "example": "San Francisco"
          },
          {
            "name": "ticket_size_min",
            "in": "query",
            "description": "Minimum ticket size in USD",
            "schema": { "type": "integer" },
            "example": 100000
          },
          {
            "name": "ticket_size_max",
            "in": "query",
            "description": "Maximum ticket size in USD",
            "schema": { "type": "integer" },
            "example": 5000000
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Field to sort by",
            "schema": {
              "type": "string",
              "enum": ["name", "created_at", "ticket_size_min", "ticket_size_max"],
              "default": "created_at"
            },
            "example": "name"
          },
          {
            "name": "sort_order",
            "in": "query",
            "description": "Sort direction",
            "schema": { "type": "string", "enum": ["asc", "desc"], "default": "desc" },
            "example": "asc"
          },
          {
            "name": "count",
            "in": "query",
            "description": "When set to \"true\", returns only pagination metadata with an empty data array. No credits are charged.",
            "schema": { "type": "string", "enum": ["true"] }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with investor data",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/InvestorsResponse" },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "name": "Sequoia Capital",
                      "type": "vc",
                      "linkedinUrl": "linkedin.com/company/sequoia-capital",
                      "website": "https://www.sequoiacap.com",
                      "logoUrl": "https://images.trysignalbase.com/sequoia.png",
                      "countries": "[\"US\",\"IN\",\"CN\"]",
                      "ticketSizeMin": 1000000,
                      "ticketSizeMax": 100000000,
                      "headquarters": "Menlo Park, California",
                      "createdAt": "2025-01-15T10:00:00.000Z",
                      "isFreeAccess": true
                    },
                    {
                      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
                      "name": "Y Combinator",
                      "type": "accelerator",
                      "linkedinUrl": "linkedin.com/company/y-combinator",
                      "website": "https://www.ycombinator.com",
                      "logoUrl": "https://images.trysignalbase.com/ycombinator.png",
                      "countries": "[\"US\"]",
                      "ticketSizeMin": 125000,
                      "ticketSizeMax": 500000,
                      "headquarters": "Mountain View, California",
                      "createdAt": "2025-01-10T08:00:00.000Z",
                      "isFreeAccess": true
                    }
                  ],
                  "pagination": {
                    "currentPage": 1,
                    "totalPages": 50,
                    "totalCount": 1000,
                    "hasNextPage": true,
                    "hasPreviousPage": false
                  },
                  "meta": {
                    "endpoint": "signals.investors",
                    "creditsUsed": 1,
                    "creditsRemaining": 999
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "success": false, "error": "Invalid API key" } } }
          },
          "402": {
            "description": "Insufficient credits",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "success": false, "error": "out of credits, please contact support to increase your usage" } } }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "success": false, "error": "Rate limit exceeded. Please try again later." } } }
          },
          "500": {
            "description": "Internal server error",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "success": false, "error": "An unknown error occurred" } } }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "InvestorsResponse": {
        "type": "object",
        "required": ["success", "data", "pagination", "meta"],
        "properties": {
          "success": { "type": "boolean", "example": true },
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/Investor" } },
          "pagination": { "$ref": "#/components/schemas/Pagination" },
          "meta": { "$ref": "#/components/schemas/Meta" }
        }
      },
      "Investor": {
        "type": "object",
        "required": ["id", "name"],
        "properties": {
          "id": { "type": "string", "format": "uuid", "description": "Unique identifier for the investor" },
          "name": { "type": "string", "description": "Name of the investor or firm" },
          "type": {
            "type": "string",
            "nullable": true,
            "description": "Type of investor",
            "enum": ["vc", "angel", "pe", "corporate", "government", "accelerator", "family_office", "hedge_fund", "crowdfunding"]
          },
          "linkedinUrl": { "type": "string", "nullable": true, "description": "LinkedIn company page URL" },
          "website": { "type": "string", "nullable": true, "description": "Investor website URL" },
          "logoUrl": { "type": "string", "nullable": true, "description": "URL to the investor logo" },
          "countries": { "type": "string", "nullable": true, "description": "JSON-encoded array of country codes where the investor operates", "example": "[\"US\",\"IN\"]" },
          "ticketSizeMin": { "type": "integer", "nullable": true, "description": "Minimum ticket size in USD" },
          "ticketSizeMax": { "type": "integer", "nullable": true, "description": "Maximum ticket size in USD" },
          "headquarters": { "type": "string", "nullable": true, "description": "Headquarters location" },
          "createdAt": { "type": "string", "format": "date-time", "description": "When the investor record was created" },
          "isFreeAccess": { "type": "boolean", "description": "Whether full data is accessible (always true for authenticated requests)", "example": true }
        }
      },
      "Pagination": {
        "type": "object",
        "required": ["currentPage", "totalPages", "totalCount", "hasNextPage", "hasPreviousPage"],
        "properties": {
          "currentPage": { "type": "integer", "minimum": 1 },
          "totalPages": { "type": "integer", "minimum": 0 },
          "totalCount": { "type": "integer", "minimum": 0 },
          "hasNextPage": { "type": "boolean" },
          "hasPreviousPage": { "type": "boolean" }
        }
      },
      "Meta": {
        "type": "object",
        "required": ["endpoint", "creditsUsed"],
        "properties": {
          "endpoint": { "type": "string", "example": "signals.investors" },
          "creditsUsed": { "type": "number", "minimum": 0, "example": 1 },
          "creditsRemaining": { "type": "number", "description": "Credits remaining after this request" }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": ["success", "error"],
        "properties": {
          "success": { "type": "boolean", "example": false },
          "error": { "type": "string" }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "API key authentication. Include as Bearer token in Authorization header."
      }
    }
  }
}
