{
  "openapi": "3.1.0",
  "info": {
    "title": "Signalbase API",
    "description": "Complete Signalbase V2 API: signal endpoints (funding, acquisitions, job changes, hiring, investors), companies, CSV enrichment, and webhooks. Generated from the per-page specs under api-reference/*/openapi.json (run scripts/build-openapi.mjs).",
    "version": "2.2.0"
  },
  "servers": [
    {
      "url": "https://www.trysignalbase.com/api/v2"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/signals/funding": {
      "get": {
        "summary": "Get Funding Signals",
        "description": "Fetch funding signals with filtering, pagination, and search capabilities. Returns a list of companies with funding activity including round types, amounts, and investor information.",
        "operationId": "getFundingSignals",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "example": 1
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results per page (maximum 100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "example": 20
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "Filter signals from this date (ISO 8601 format: YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2024-01-01"
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "Filter signals up to this date (ISO 8601 format: YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2024-12-31"
          },
          {
            "name": "date_preset",
            "in": "query",
            "description": "Relative date shorthand. Takes precedence over dateFrom/dateTo when provided.",
            "schema": {
              "type": "string",
              "enum": [
                "today",
                "yesterday",
                "last_7d",
                "last_14d",
                "last_30d",
                "last_60d",
                "last_90d",
                "last_6m",
                "last_1y",
                "last_2y",
                "this_week",
                "this_month",
                "this_quarter",
                "this_year",
                "last_week",
                "last_month",
                "last_quarter",
                "last_year"
              ]
            },
            "example": "last_30d"
          },
          {
            "name": "countries",
            "in": "query",
            "description": "Comma-separated list of country codes to filter by",
            "schema": {
              "type": "string"
            },
            "example": "US,GB,CA"
          },
          {
            "name": "categories",
            "in": "query",
            "description": "Pipe-separated list of company categories / industries to filter by",
            "schema": {
              "type": "string"
            },
            "example": "Technology|Healthcare"
          },
          {
            "name": "round",
            "in": "query",
            "description": "Comma-separated list of funding round types to filter by. Exact, case-insensitive match ('Series A', 'series a', and 'SERIES A' all match). A value not in the accepted list returns 400 Bad Request. See the Enums page for the accepted values.",
            "schema": {
              "type": "string"
            },
            "example": "Seed,Series A"
          },
          {
            "name": "round_flavor",
            "in": "query",
            "description": "Comma-separated list of round flavors to filter by",
            "schema": {
              "type": "string",
              "enum": [
                "bridge",
                "extension",
                "secondary"
              ]
            },
            "example": "bridge"
          },
          {
            "name": "subcategories",
            "in": "query",
            "description": "Comma-separated list of subcategory IDs to filter by. These filter companies based on their assigned subcategory.",
            "schema": {
              "type": "string",
              "enum": [
                "ai",
                "saas",
                "software",
                "cybersecurity",
                "web3",
                "devtools",
                "analytics",
                "cloud",
                "iot",
                "fintech",
                "payments",
                "accounting",
                "ecommerce",
                "insurance",
                "vc & investment",
                "regtech",
                "marketing",
                "advertising",
                "sales",
                "hr tech",
                "legal",
                "healthcare",
                "biotechnology",
                "education",
                "real estate",
                "energy",
                "logistics",
                "manufacturing",
                "retail",
                "agriculture",
                "food & beverage",
                "automotive",
                "aerospace & defense",
                "robotics",
                "telecommunications",
                "travel",
                "sports",
                "gaming",
                "media",
                "govtech",
                "construction",
                "environmental services",
                "battery technology",
                "arts",
                "architecture",
                "cosmetics",
                "science",
                "non-profit"
              ]
            },
            "example": "ai,fintech"
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search by company name or industry keywords",
            "schema": {
              "type": "string"
            },
            "example": "fintech"
          },
          {
            "name": "industry",
            "in": "query",
            "description": "Comma-separated list of exact industry names to filter by",
            "schema": {
              "type": "string"
            },
            "example": "Financial Services,Healthcare"
          },
          {
            "name": "company_name",
            "in": "query",
            "description": "Search by company name (partial match)",
            "schema": {
              "type": "string"
            },
            "example": "stripe"
          },
          {
            "name": "company_domain",
            "in": "query",
            "description": "**Recommended.** Company website domain, e.g. `novartis.com`. Strict match — if no company has this domain the result is empty; never falls back to fuzzy name matching. Variants are equivalent: `novartis.com`, `www.novartis.com` and `https://novartis.com/` all match the same company. Malformed values return 400. Takes priority over `company_name`; combined identifiers must agree or the result is empty.",
            "schema": {
              "type": "string"
            },
            "example": "novartis.com"
          },
          {
            "name": "company_linkedin_url",
            "in": "query",
            "description": "**Recommended.** LinkedIn company URL, e.g. `linkedin.com/company/novartis`. Strict match — if no company has this LinkedIn page the result is empty; never falls back to fuzzy name matching. `http`/`https`, optional `www.` and trailing slash are equivalent. Non-company LinkedIn URLs (e.g. personal `/in/` profiles) return 400. Takes priority over `company_name`; combined identifiers must agree or the result is empty.",
            "schema": {
              "type": "string"
            },
            "example": "linkedin.com/company/novartis"
          },
          {
            "name": "amount_min",
            "in": "query",
            "description": "Minimum funding amount in whole units of the deal's currency (not cents)",
            "schema": {
              "type": "integer"
            },
            "example": 1000000
          },
          {
            "name": "amount_max",
            "in": "query",
            "description": "Maximum funding amount in whole units of the deal's currency (not cents)",
            "schema": {
              "type": "integer"
            },
            "example": 50000000
          },
          {
            "name": "currency",
            "in": "query",
            "description": "Filter by currency, as an ISO 4217 code (e.g. USD, EUR, GBP). Most records are USD. Exact match.",
            "schema": {
              "type": "string",
              "enum": [
                "USD",
                "EUR",
                "GBP",
                "CHF",
                "JPY",
                "INR",
                "CAD",
                "AUD",
                "SEK",
                "CNY",
                "NZD",
                "KRW",
                "SGD",
                "DKK",
                "BRL"
              ]
            },
            "example": "USD"
          },
          {
            "name": "verification_status",
            "in": "query",
            "description": "Comma-separated list of verification statuses to filter by",
            "schema": {
              "type": "string",
              "enum": [
                "verified",
                "unverified",
                "pending"
              ]
            },
            "example": "verified"
          },
          {
            "name": "investor_name",
            "in": "query",
            "description": "Search by investor name (partial match)",
            "schema": {
              "type": "string"
            },
            "example": "Sequoia"
          },
          {
            "name": "employee_count_min",
            "in": "query",
            "description": "Minimum company employee count",
            "schema": {
              "type": "integer"
            },
            "example": 10
          },
          {
            "name": "employee_count_max",
            "in": "query",
            "description": "Maximum company employee count",
            "schema": {
              "type": "integer"
            },
            "example": 500
          },
          {
            "name": "founded_year_min",
            "in": "query",
            "description": "Minimum company founded year",
            "schema": {
              "type": "integer"
            },
            "example": 2020
          },
          {
            "name": "founded_year_max",
            "in": "query",
            "description": "Maximum company founded year",
            "schema": {
              "type": "integer"
            },
            "example": 2025
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Field to sort results by",
            "schema": {
              "type": "string",
              "enum": [
                "occurred_at",
                "discovered_at",
                "amount",
                "employee_count",
                "founded_year"
              ],
              "default": "occurred_at"
            },
            "example": "occurred_at"
          },
          {
            "name": "sort_order",
            "in": "query",
            "description": "Sort direction",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            },
            "example": "desc"
          },
          {
            "name": "count",
            "in": "query",
            "description": "When set to \"true\", returns only pagination metadata (totalCount) with an empty data array. No credits are charged.",
            "schema": {
              "type": "string",
              "enum": [
                "true"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with funding signals",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Funding_FundingSignalsResponse"
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "signalId": "f9422f20-bcdc-4d38-8049-4cda561bc9dd",
                      "signalType": "funding_round",
                      "match_confidence": "exact",
                      "occurredAt": "2026-03-17T04:05:52.903Z",
                      "discoveredAt": "2026-03-17T05:06:08.184Z",
                      "companyId": "3bba1b2e-fb85-485e-80d5-5cc4617cfe13",
                      "companyName": "dtcpay",
                      "companySlug": "dtcpay",
                      "companyLogo": "https://images.trysignalbase.com/dtcpay.png",
                      "companyWebsite": "dtcpay.com",
                      "companyLinkedin": "linkedin.com/company/digital-treasures-center-pte-ltd",
                      "companyIndustry": "Financial Services",
                      "companyCountry": "SG",
                      "companySubcategory": "fintech",
                      "companyFoundedYear": 2019,
                      "companyCategories": "[\"Financial Services\",\"Payments\"]",
                      "companyDescription": "dtcpay is a regulated payment service provider enabling seamless digital payments.",
                      "companyEmployeeCount": 125,
                      "roundType": "series a",
                      "roundFlavor": null,
                      "amount": 10000000,
                      "currency": "USD",
                      "announcedDate": "2026-03-17",
                      "confidenceScore": 0.95,
                      "verificationStatus": "verified",
                      "isFreeAccess": true,
                      "investors": [
                        {
                          "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                          "name": "Sequoia Capital",
                          "type": "vc",
                          "website": "https://www.sequoiacap.com",
                          "linkedin": "linkedin.com/company/sequoia-capital",
                          "isLead": true
                        },
                        {
                          "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
                          "name": "Andreessen Horowitz",
                          "type": "vc",
                          "website": "https://a16z.com",
                          "linkedin": "linkedin.com/company/a16z",
                          "isLead": false
                        }
                      ],
                      "sources": [
                        {
                          "url": "https://technode.global/2026/03/17/dtcpay-raises-10m-series-a",
                          "sourceType": "news_article",
                          "title": "dtcpay raises $10M in Series A led by Sequoia Capital",
                          "publishedAt": "2026-03-17T04:05:52.903Z",
                          "isPrimary": true
                        }
                      ]
                    }
                  ],
                  "pagination": {
                    "currentPage": 1,
                    "totalPages": 15,
                    "totalCount": 300,
                    "hasNextPage": true,
                    "hasPreviousPage": false
                  },
                  "meta": {
                    "endpoint": "signals.funding",
                    "creditsUsed": 1,
                    "creditsRemaining": 999
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - an invalid filter value was supplied (e.g. an unrecognized `round` value)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Funding_ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": "Invalid round value: foobar. Accepted values (case-insensitive): pre-seed, seed, series a, series b, series c, series d, series e, series f, series g, series h, angel, grant, crowdfunding, growth, debt, debt financing, equity, fund, ipo."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Funding_ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": "Invalid API key"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Funding_ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": "out of credits, please contact support to increase your usage"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Funding_ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": "Rate limit exceeded. Please try again later."
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Funding_ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": "An unknown error occurred"
                }
              }
            }
          }
        }
      }
    },
    "/signals/acquisitions": {
      "get": {
        "summary": "Get Acquisition Signals",
        "description": "Fetch acquisition signals with filtering, pagination, and search capabilities. Returns acquisition events with acquired company details, acquiring company information, deal amounts, and source references.",
        "operationId": "getAcquisitionSignals",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "example": 1
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results per page (maximum 100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "example": 20
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "Filter signals from this date (ISO 8601 format: YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2024-01-01"
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "Filter signals up to this date (ISO 8601 format: YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2024-12-31"
          },
          {
            "name": "date_preset",
            "in": "query",
            "description": "Relative date shorthand. Takes precedence over dateFrom/dateTo.",
            "schema": {
              "type": "string",
              "enum": [
                "today",
                "yesterday",
                "last_7d",
                "last_14d",
                "last_30d",
                "last_60d",
                "last_90d",
                "last_6m",
                "last_1y",
                "last_2y",
                "this_week",
                "this_month",
                "this_quarter",
                "this_year",
                "last_week",
                "last_month",
                "last_quarter",
                "last_year"
              ]
            },
            "example": "last_90d"
          },
          {
            "name": "countries",
            "in": "query",
            "description": "Comma-separated list of country codes to filter by (acquired company)",
            "schema": {
              "type": "string"
            },
            "example": "US,GB"
          },
          {
            "name": "categories",
            "in": "query",
            "description": "Pipe-separated list of company categories / industries to filter by",
            "schema": {
              "type": "string"
            },
            "example": "Technology|Healthcare"
          },
          {
            "name": "subcategories",
            "in": "query",
            "description": "Comma-separated list of subcategory IDs to filter by",
            "schema": {
              "type": "string"
            },
            "example": "ai,fintech"
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search by company name or industry keywords",
            "schema": {
              "type": "string"
            },
            "example": "tech"
          },
          {
            "name": "industry",
            "in": "query",
            "description": "Comma-separated list of exact industry names to filter by",
            "schema": {
              "type": "string"
            },
            "example": "Financial Services"
          },
          {
            "name": "company_name",
            "in": "query",
            "description": "Search by acquired company name (partial match)",
            "schema": {
              "type": "string"
            },
            "example": "stripe"
          },
          {
            "name": "company_domain",
            "in": "query",
            "description": "**Recommended.** Company website domain, e.g. `novartis.com`. Strict match — if no company has this domain the result is empty; never falls back to fuzzy name matching. Variants are equivalent: `novartis.com`, `www.novartis.com` and `https://novartis.com/` all match the same company. Malformed values return 400. Takes priority over `company_name`; combined identifiers must agree or the result is empty.",
            "schema": {
              "type": "string"
            },
            "example": "novartis.com"
          },
          {
            "name": "company_linkedin_url",
            "in": "query",
            "description": "**Recommended.** LinkedIn company URL, e.g. `linkedin.com/company/novartis`. Strict match — if no company has this LinkedIn page the result is empty; never falls back to fuzzy name matching. `http`/`https`, optional `www.` and trailing slash are equivalent. Non-company LinkedIn URLs (e.g. personal `/in/` profiles) return 400. Takes priority over `company_name`; combined identifiers must agree or the result is empty.",
            "schema": {
              "type": "string"
            },
            "example": "linkedin.com/company/novartis"
          },
          {
            "name": "acquiring_company",
            "in": "query",
            "description": "Search by acquiring company name (partial match)",
            "schema": {
              "type": "string"
            },
            "example": "Google"
          },
          {
            "name": "amount_min",
            "in": "query",
            "description": "Minimum acquisition amount in whole USD (not cents)",
            "schema": {
              "type": "integer"
            },
            "example": 10000000
          },
          {
            "name": "amount_max",
            "in": "query",
            "description": "Maximum acquisition amount in whole USD (not cents)",
            "schema": {
              "type": "integer"
            },
            "example": 1000000000
          },
          {
            "name": "currency",
            "in": "query",
            "description": "Filter by currency, as an ISO 4217 code. Acquisition amounts are stored as USD by convention (the vast majority); a few records are EUR. Exact match.",
            "schema": {
              "type": "string",
              "enum": [
                "USD",
                "EUR"
              ]
            },
            "example": "USD"
          },
          {
            "name": "verification_status",
            "in": "query",
            "description": "Comma-separated list of verification statuses to filter by",
            "schema": {
              "type": "string",
              "enum": [
                "verified",
                "unverified",
                "pending"
              ]
            },
            "example": "verified"
          },
          {
            "name": "employee_count_min",
            "in": "query",
            "description": "Minimum company employee count",
            "schema": {
              "type": "integer"
            },
            "example": 10
          },
          {
            "name": "employee_count_max",
            "in": "query",
            "description": "Maximum company employee count",
            "schema": {
              "type": "integer"
            },
            "example": 500
          },
          {
            "name": "founded_year_min",
            "in": "query",
            "description": "Minimum company founded year",
            "schema": {
              "type": "integer"
            },
            "example": 2015
          },
          {
            "name": "founded_year_max",
            "in": "query",
            "description": "Maximum company founded year",
            "schema": {
              "type": "integer"
            },
            "example": 2025
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Field to sort results by",
            "schema": {
              "type": "string",
              "enum": [
                "occurred_at",
                "discovered_at",
                "amount",
                "employee_count"
              ],
              "default": "occurred_at"
            },
            "example": "occurred_at"
          },
          {
            "name": "sort_order",
            "in": "query",
            "description": "Sort direction",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            },
            "example": "desc"
          },
          {
            "name": "count",
            "in": "query",
            "description": "When set to \"true\", returns only pagination metadata with an empty data array. No credits are charged.",
            "schema": {
              "type": "string",
              "enum": [
                "true"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with acquisition signals",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Acquisition_AcquisitionSignalsResponse"
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "signalId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "signalType": "acquisition",
                      "match_confidence": "exact",
                      "occurredAt": "2026-02-10T12:00:00.000Z",
                      "discoveredAt": "2026-02-10T14:30:00.000Z",
                      "companyId": "d4e5f6a7-b8c9-0123-defg-h45678901234",
                      "companyName": "DataVault",
                      "companySlug": "datavault",
                      "companyLogo": "https://images.trysignalbase.com/datavault.png",
                      "companyWebsite": "datavault.io",
                      "companyLinkedin": "linkedin.com/company/datavault",
                      "companyIndustry": "Data Analytics",
                      "companyCountry": "US",
                      "companySubcategory": "saas",
                      "companyFoundedYear": 2019,
                      "companyCategories": "[\"Data Analytics\",\"SaaS\"]",
                      "companyDescription": "Enterprise data analytics platform.",
                      "companyEmployeeCount": 85,
                      "acquiringCompanyId": "e5f6a7b8-c9d0-1234-efgh-i56789012345",
                      "amount": 250000000,
                      "currency": "USD",
                      "percentage": "100%",
                      "announcedDate": "2026-02-10",
                      "isFreeAccess": true,
                      "acquiringCompany": {
                        "id": "e5f6a7b8-c9d0-1234-efgh-i56789012345",
                        "name": "Snowflake",
                        "slug": "snowflake",
                        "logo": "https://images.trysignalbase.com/snowflake.png",
                        "website": "snowflake.com",
                        "linkedin": "linkedin.com/company/snowflake",
                        "industry": "Cloud Computing",
                        "companyCountry": "US",
                        "companySubcategory": "cloud",
                        "foundedYear": 2012,
                        "employeeCount": 5000
                      },
                      "sources": [
                        {
                          "url": "https://techcrunch.com/2026/02/10/snowflake-acquires-datavault",
                          "sourceType": "news_article",
                          "title": "Snowflake acquires DataVault for $250M",
                          "publishedAt": "2026-02-10T12:00:00.000Z",
                          "isPrimary": true
                        }
                      ]
                    }
                  ],
                  "pagination": {
                    "currentPage": 1,
                    "totalPages": 25,
                    "totalCount": 500,
                    "hasNextPage": true,
                    "hasPreviousPage": false
                  },
                  "meta": {
                    "endpoint": "signals.acquisitions",
                    "creditsUsed": 1,
                    "creditsRemaining": 999
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Acquisition_ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": "Invalid API key"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Acquisition_ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": "out of credits, please contact support to increase your usage"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Acquisition_ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": "Rate limit exceeded. Please try again later."
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Acquisition_ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": "An unknown error occurred"
                }
              }
            }
          }
        }
      }
    },
    "/signals/job-changes": {
      "get": {
        "summary": "Get Job Change Signals",
        "description": "Fetch job change signals with filtering, pagination, and search. Supports role-aware position filters, department and seniority filters, LinkedIn targeting, and field-specific search. Person names are GDPR-masked (first name + last initial only).",
        "operationId": "getJobChangeSignals",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "example": 1
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results per page (maximum 100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "example": 20
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "Filter signals from this date (ISO 8601 format: YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2024-01-01"
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "Filter signals up to this date (ISO 8601 format: YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2024-12-31"
          },
          {
            "name": "date_preset",
            "in": "query",
            "description": "Relative date shorthand. Takes precedence over dateFrom/dateTo.",
            "schema": {
              "type": "string",
              "enum": [
                "today",
                "yesterday",
                "last_7d",
                "last_14d",
                "last_30d",
                "last_60d",
                "last_90d",
                "last_6m",
                "last_1y",
                "last_2y",
                "this_week",
                "this_month",
                "this_quarter",
                "this_year",
                "last_week",
                "last_month",
                "last_quarter",
                "last_year"
              ]
            },
            "example": "last_30d"
          },
          {
            "name": "search",
            "in": "query",
            "description": "Free-text search across company name, industry, person name, role, person location, and person country",
            "schema": {
              "type": "string"
            },
            "example": "engineering leadership"
          },
          {
            "name": "countries",
            "in": "query",
            "description": "Comma-separated list of country codes to filter by (matches person country or company HQ)",
            "schema": {
              "type": "string"
            },
            "example": "US,GB"
          },
          {
            "name": "city",
            "in": "query",
            "description": "Free-text search on person city and person location",
            "schema": {
              "type": "string"
            },
            "example": "San Francisco"
          },
          {
            "name": "personLinkedinUrl",
            "in": "query",
            "description": "Exact LinkedIn profile URL of the person",
            "schema": {
              "type": "string"
            },
            "example": "https://www.linkedin.com/in/example"
          },
          {
            "name": "company_linkedin_url",
            "in": "query",
            "description": "**Recommended.** LinkedIn company URL, e.g. `linkedin.com/company/novartis`. Strict match — if no company has this LinkedIn page the result is empty; never falls back to fuzzy name matching. `http`/`https`, optional `www.` and trailing slash are equivalent. Non-company LinkedIn URLs (e.g. personal `/in/` profiles) return 400. Takes priority over `company_name`; combined identifiers must agree or the result is empty. (Legacy alias: `companyLinkedinUrl`.)",
            "schema": {
              "type": "string"
            },
            "example": "linkedin.com/company/novartis"
          },
          {
            "name": "company_name",
            "in": "query",
            "description": "Search by company name (partial match)",
            "schema": {
              "type": "string"
            },
            "example": "Google"
          },
          {
            "name": "company_domain",
            "in": "query",
            "description": "**Recommended.** Company website domain, e.g. `novartis.com`. Strict match — if no company has this domain the result is empty; never falls back to fuzzy name matching. Variants are equivalent: `novartis.com`, `www.novartis.com` and `https://novartis.com/` all match the same company. Malformed values return 400. Takes priority over `company_name`; combined identifiers must agree or the result is empty.",
            "schema": {
              "type": "string"
            },
            "example": "novartis.com"
          },
          {
            "name": "new_role",
            "in": "query",
            "description": "Search by new role / job title (partial match)",
            "schema": {
              "type": "string"
            },
            "example": "VP Engineering"
          },
          {
            "name": "source",
            "in": "query",
            "description": "Exact match on signal source",
            "schema": {
              "type": "string",
              "enum": [
                "linkedin",
                "press_release",
                "other"
              ]
            },
            "example": "linkedin"
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "Search by keyword tag (partial match)",
            "schema": {
              "type": "string"
            },
            "example": "promotion"
          },
          {
            "name": "positions",
            "in": "query",
            "description": "Comma-separated list of positions to filter by (e.g., ceo, cto, cfo, coo, vp of engineering, head of product, engineering manager, product manager, founder, co-founder)",
            "schema": {
              "type": "string"
            },
            "example": "cto,head of engineering"
          },
          {
            "name": "departments",
            "in": "query",
            "description": "Comma-separated list of departments to filter by (e.g., marketing, sales, engineering, product, design, operations, finance, people, data, customer_success, growth, legal)",
            "schema": {
              "type": "string"
            },
            "example": "engineering,product"
          },
          {
            "name": "seniorities",
            "in": "query",
            "description": "Comma-separated list of seniority levels to filter by (e.g., founder, c_level, vp, director, head, lead, manager)",
            "schema": {
              "type": "string"
            },
            "example": "c_level,vp,head"
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Field to sort by",
            "schema": {
              "type": "string",
              "enum": [
                "occurred_at",
                "discovered_at",
                "person_name",
                "company_name"
              ],
              "default": "occurred_at"
            },
            "example": "occurred_at"
          },
          {
            "name": "sort_order",
            "in": "query",
            "description": "Sort direction",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            },
            "example": "desc"
          },
          {
            "name": "count",
            "in": "query",
            "description": "When set to \"true\", returns only pagination metadata with an empty data array. No credits are charged.",
            "schema": {
              "type": "string",
              "enum": [
                "true"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with job change signals",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobChange_JobChangeSignalsResponse"
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "signalId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "signalType": "job_change",
                      "match_confidence": "exact",
                      "occurredAt": "2026-03-01T00:00:00.000Z",
                      "discoveredAt": "2026-03-02T12:00:00.000Z",
                      "personName": "Alex J.",
                      "personLinkedinUrl": "https://www.linkedin.com/in/alexjohnson",
                      "companyLinkedinUrl": "https://www.linkedin.com/company/nextgensoftware",
                      "newRole": "Chief Technology Officer",
                      "postContent": "Excited to announce my new role as CTO at NextGen Software!",
                      "takenFrom": "https://www.linkedin.com/feed/update/urn:li:activity:123456",
                      "source": "linkedin",
                      "companyName": "NextGen Software",
                      "personCurrentTitle": "Chief Technology Officer at NextGen Software",
                      "personHeadline": "CTO | Building the future of enterprise software",
                      "personLocation": "San Francisco Bay Area",
                      "personCity": "San Francisco",
                      "personCountry": "US",
                      "personFollowers": 5200,
                      "personConnections": 2500,
                      "personPosts": null,
                      "companyWebsite": "https://www.nextgensoftware.com",
                      "companyIndustry": "Technology",
                      "companyCountry": "US",
                      "companySubcategory": "saas",
                      "companyEmployeeCount": 250,
                      "companyFoundedYear": 2018,
                      "companyLogoUrl": "https://images.trysignalbase.com/nextgen.png",
                      "companyDescription": "Enterprise software company.",
                      "companySpecialties": "[\"Cloud\",\"SaaS\"]",
                      "companyCategories": "[\"Technology\",\"Software\"]",
                      "isFreeAccess": true,
                      "companyLogo": "https://images.trysignalbase.com/nextgen.png",
                      "sources": [
                        {
                          "url": "https://www.linkedin.com/feed/update/urn:li:activity:123456",
                          "sourceType": "social_media"
                        }
                      ]
                    }
                  ],
                  "pagination": {
                    "currentPage": 1,
                    "totalPages": 12,
                    "totalCount": 240,
                    "hasNextPage": true,
                    "hasPreviousPage": false
                  },
                  "meta": {
                    "endpoint": "signals.jobChanges",
                    "creditsUsed": 1,
                    "creditsRemaining": 999
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobChange_ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": "Invalid API key"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobChange_ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": "out of credits, please contact support to increase your usage"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobChange_ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": "Rate limit exceeded. Please try again later."
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobChange_ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": "An unknown error occurred"
                }
              }
            }
          }
        }
      }
    },
    "/signals/hiring": {
      "get": {
        "summary": "Get Hiring Signals",
        "description": "Fetch hiring signals (open job postings) with filtering, pagination, and search. Supports role-aware position filters, department and seniority filters, location targeting, team size, and applicant range filtering.",
        "operationId": "getHiringSignals",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "example": 1
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results per page (maximum 100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "example": 20
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "Filter signals from this date (ISO 8601 format: YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2024-01-01"
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "Filter signals up to this date (ISO 8601 format: YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2024-12-31"
          },
          {
            "name": "date_preset",
            "in": "query",
            "description": "Relative date shorthand. Takes precedence over dateFrom/dateTo.",
            "schema": {
              "type": "string",
              "enum": [
                "today",
                "yesterday",
                "last_7d",
                "last_14d",
                "last_30d",
                "last_60d",
                "last_90d",
                "last_6m",
                "last_1y",
                "last_2y",
                "this_week",
                "this_month",
                "this_quarter",
                "this_year",
                "last_week",
                "last_month",
                "last_quarter",
                "last_year"
              ]
            },
            "example": "last_30d"
          },
          {
            "name": "search",
            "in": "query",
            "description": "Free-text search across company name, industry, job title, location, and city",
            "schema": {
              "type": "string"
            },
            "example": "engineering"
          },
          {
            "name": "countries",
            "in": "query",
            "description": "Comma-separated list of country codes to filter by",
            "schema": {
              "type": "string"
            },
            "example": "US,GB,DE"
          },
          {
            "name": "states",
            "in": "query",
            "description": "Comma-separated US state codes to filter by",
            "schema": {
              "type": "string"
            },
            "example": "CA,NY,TX"
          },
          {
            "name": "city",
            "in": "query",
            "description": "Free-text search on hiring signal city, location, and region",
            "schema": {
              "type": "string"
            },
            "example": "San Francisco"
          },
          {
            "name": "categories",
            "in": "query",
            "description": "Pipe-separated list of company industry categories to filter by",
            "schema": {
              "type": "string"
            },
            "example": "Technology|Software"
          },
          {
            "name": "subcategories",
            "in": "query",
            "description": "Comma-separated list of subcategory IDs to filter by",
            "schema": {
              "type": "string"
            },
            "example": "ai,fintech,saas"
          },
          {
            "name": "positions",
            "in": "query",
            "description": "Comma-separated list of positions to filter by (e.g., ceo, cto, cfo, coo, vp of engineering, head of product, engineering manager, product manager, founder, co-founder)",
            "schema": {
              "type": "string"
            },
            "example": "cto,head of engineering"
          },
          {
            "name": "departments",
            "in": "query",
            "description": "Comma-separated list of departments to filter by (e.g., marketing, sales, engineering, product, design, operations, finance, people, data, customer_success, growth, legal)",
            "schema": {
              "type": "string"
            },
            "example": "engineering,product"
          },
          {
            "name": "seniorities",
            "in": "query",
            "description": "Comma-separated list of seniority levels to filter by (e.g., founder, c_level, vp, director, head, lead, manager)",
            "schema": {
              "type": "string"
            },
            "example": "c_level,vp,head"
          },
          {
            "name": "team_size",
            "in": "query",
            "description": "Comma-separated team size ranges (e.g., 1-10, 11-50, 51-200, 201-1000, 1000-plus)",
            "schema": {
              "type": "string"
            },
            "example": "51-200,201-1000"
          },
          {
            "name": "applicants",
            "in": "query",
            "description": "Comma-separated applicant count ranges (e.g., 0-25, 26-50, 51-100, 101-200, 201-plus)",
            "schema": {
              "type": "string"
            },
            "example": "0-25,26-50"
          },
          {
            "name": "company_name",
            "in": "query",
            "description": "Search by company name (partial match, fuzzy). Prefer `company_domain` or `company_linkedin_url` for strict matching.",
            "schema": {
              "type": "string"
            },
            "example": "stripe"
          },
          {
            "name": "company_domain",
            "in": "query",
            "description": "**Recommended.** Company website domain, e.g. `novartis.com`. Strict match — if no company has this domain the result is empty; never falls back to fuzzy name matching. Variants are equivalent: `novartis.com`, `www.novartis.com` and `https://novartis.com/` all match the same company. Malformed values return 400. Takes priority over `company_name`; combined identifiers must agree or the result is empty.",
            "schema": {
              "type": "string"
            },
            "example": "novartis.com"
          },
          {
            "name": "company_linkedin_url",
            "in": "query",
            "description": "**Recommended.** LinkedIn company URL, e.g. `linkedin.com/company/novartis`. Strict match — if no company has this LinkedIn page the result is empty; never falls back to fuzzy name matching. `http`/`https`, optional `www.` and trailing slash are equivalent. Non-company LinkedIn URLs (e.g. personal `/in/` profiles) return 400. Takes priority over `company_name`; combined identifiers must agree or the result is empty.",
            "schema": {
              "type": "string"
            },
            "example": "linkedin.com/company/novartis"
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Field to sort by",
            "schema": {
              "type": "string",
              "enum": [
                "date_posted",
                "created_at",
                "title",
                "company_name",
                "location"
              ],
              "default": "created_at"
            },
            "example": "date_posted"
          },
          {
            "name": "sort_order",
            "in": "query",
            "description": "Sort direction",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            },
            "example": "desc"
          },
          {
            "name": "count",
            "in": "query",
            "description": "When set to \"true\", returns only pagination metadata with an empty data array. No credits are charged.",
            "schema": {
              "type": "string",
              "enum": [
                "true"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with hiring signals",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hiring_HiringSignalsResponse"
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "match_confidence": "exact",
                      "jobId": "123456789",
                      "jobUrl": "https://www.linkedin.com/jobs/view/123456789",
                      "title": "Senior Software Engineer",
                      "location": "San Francisco, CA",
                      "city": "San Francisco",
                      "region": "California",
                      "jobCountry": "US",
                      "datePosted": "2026-03-01T00:00:00.000Z",
                      "validThrough": "2026-05-01T00:00:00.000Z",
                      "employmentType": "Full-time",
                      "seniorityLevel": "Mid-Senior level",
                      "jobFunction": "Engineering",
                      "industries": "Software Development",
                      "numApplicants": "45",
                      "descriptionText": "We are looking for a senior software engineer...",
                      "createdAt": "2026-03-02T12:00:00.000Z",
                      "companyId": "d4e5f6a7-b8c9-0123-defg-h45678901234",
                      "companyName": "NextGen Software",
                      "companyWebsite": "https://www.nextgensoftware.com",
                      "companyIndustry": "Technology",
                      "companyCountry": "US",
                      "companySubcategory": "saas",
                      "companyEmployeeCount": 250,
                      "companyFoundedYear": 2018,
                      "companyLogoUrl": "https://images.trysignalbase.com/nextgen.png",
                      "companyDescription": "Enterprise software company.",
                      "companySpecialties": "[\"Cloud\",\"SaaS\"]",
                      "companyCategories": "[\"Technology\",\"Software\"]",
                      "isFreeAccess": true,
                      "companyLogo": "https://images.trysignalbase.com/nextgen.png"
                    }
                  ],
                  "pagination": {
                    "currentPage": 1,
                    "totalPages": 50,
                    "totalCount": 1000,
                    "hasNextPage": true,
                    "hasPreviousPage": false
                  },
                  "meta": {
                    "endpoint": "signals.hiring",
                    "creditsUsed": 1,
                    "creditsRemaining": 999
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hiring_ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": "Invalid API key"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hiring_ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": "out of credits, please contact support to increase your usage"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hiring_ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": "Rate limit exceeded. Please try again later."
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hiring_ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": "An unknown error occurred"
                }
              }
            }
          }
        }
      }
    },
    "/signals/investors": {
      "get": {
        "summary": "Get Investor Data",
        "description": "Fetch investor data with filtering, pagination, and search. Returns venture capital firms, angel investors, PE firms, corporate investors, accelerators, family offices, hedge funds, and crowdfunding platforms.",
        "operationId": "getInvestors",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "example": 1
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results per page (maximum 100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "example": 20
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "Filter by created date from (ISO 8601 format: YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2024-01-01"
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "Filter by created date to (ISO 8601 format: YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2024-12-31"
          },
          {
            "name": "date_preset",
            "in": "query",
            "description": "Relative date shorthand. Takes precedence over dateFrom/dateTo.",
            "schema": {
              "type": "string",
              "enum": [
                "today",
                "yesterday",
                "last_7d",
                "last_14d",
                "last_30d",
                "last_60d",
                "last_90d",
                "last_6m",
                "last_1y",
                "last_2y",
                "this_week",
                "this_month",
                "this_quarter",
                "this_year",
                "last_week",
                "last_month",
                "last_quarter",
                "last_year"
              ]
            },
            "example": "last_1y"
          },
          {
            "name": "search",
            "in": "query",
            "description": "Free-text search across investor name and type",
            "schema": {
              "type": "string"
            },
            "example": "sequoia"
          },
          {
            "name": "countries",
            "in": "query",
            "description": "Comma-separated list of country codes to filter by (matches investor's countries JSON array)",
            "schema": {
              "type": "string"
            },
            "example": "US,GB"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Comma-separated list of investor types to filter by. The underlying `type` data is free-text, so these values are convenience groupings matched case-insensitively against many real-world variants (e.g. `vc` matches \"VC\", \"VC firm\", \"Venture Capital\", \"venture_capital\", \"Corporate VC\"; `angel` matches \"Angel\", \"Solo angel\", \"Angel network\"). For anything outside this list, use the `search` parameter, which also matches the type field. Note: the `type` value in the response is the original scraped string (e.g. \"Corporate VC\"), not the slug you filtered by, so a single `type=vc` query returns rows with mixed `type` values.",
            "schema": {
              "type": "string",
              "enum": [
                "vc",
                "angel",
                "pe",
                "corporate",
                "government",
                "accelerator",
                "family_office",
                "hedge_fund",
                "crowdfunding"
              ]
            },
            "example": "vc,angel"
          },
          {
            "name": "categories",
            "in": "query",
            "description": "Legacy: Pipe-separated list of investor types (same as type parameter)",
            "schema": {
              "type": "string"
            },
            "example": "vc|angel"
          },
          {
            "name": "headquarters",
            "in": "query",
            "description": "Search by headquarters location (partial match)",
            "schema": {
              "type": "string"
            },
            "example": "San Francisco"
          },
          {
            "name": "ticket_size_min",
            "in": "query",
            "description": "Minimum ticket size in USD",
            "schema": {
              "type": "integer"
            },
            "example": 100000
          },
          {
            "name": "ticket_size_max",
            "in": "query",
            "description": "Maximum ticket size in USD",
            "schema": {
              "type": "integer"
            },
            "example": 5000000
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Field to sort by",
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "created_at",
                "ticket_size_min",
                "ticket_size_max"
              ],
              "default": "created_at"
            },
            "example": "name"
          },
          {
            "name": "sort_order",
            "in": "query",
            "description": "Sort direction",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            },
            "example": "asc"
          },
          {
            "name": "count",
            "in": "query",
            "description": "When set to \"true\", returns only pagination metadata with an empty data array. No credits are charged.",
            "schema": {
              "type": "string",
              "enum": [
                "true"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with investor data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Investors_InvestorsResponse"
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "name": "Sequoia Capital",
                      "type": "vc",
                      "linkedinUrl": "linkedin.com/company/sequoia-capital",
                      "website": "https://www.sequoiacap.com",
                      "logoUrl": "https://images.trysignalbase.com/sequoia.png",
                      "countries": "[\"US\",\"IN\",\"CN\"]",
                      "ticketSizeMin": 1000000,
                      "ticketSizeMax": 100000000,
                      "headquarters": "Menlo Park, California",
                      "createdAt": "2025-01-15T10:00:00.000Z",
                      "isFreeAccess": true
                    },
                    {
                      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
                      "name": "Y Combinator",
                      "type": "accelerator",
                      "linkedinUrl": "linkedin.com/company/y-combinator",
                      "website": "https://www.ycombinator.com",
                      "logoUrl": "https://images.trysignalbase.com/ycombinator.png",
                      "countries": "[\"US\"]",
                      "ticketSizeMin": 125000,
                      "ticketSizeMax": 500000,
                      "headquarters": "Mountain View, California",
                      "createdAt": "2025-01-10T08:00:00.000Z",
                      "isFreeAccess": true
                    }
                  ],
                  "pagination": {
                    "currentPage": 1,
                    "totalPages": 50,
                    "totalCount": 1000,
                    "hasNextPage": true,
                    "hasPreviousPage": false
                  },
                  "meta": {
                    "endpoint": "signals.investors",
                    "creditsUsed": 1,
                    "creditsRemaining": 999
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Investors_ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": "Invalid API key"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Investors_ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": "out of credits, please contact support to increase your usage"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Investors_ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": "Rate limit exceeded. Please try again later."
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Investors_ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": "An unknown error occurred"
                }
              }
            }
          }
        }
      }
    },
    "/companies": {
      "get": {
        "summary": "Get Companies",
        "description": "Browse and search companies with filtering, pagination, and sorting. Returns company profiles with industry, headcount, location, and metadata — independent of any signal data.",
        "operationId": "getCompanies",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "example": 1
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results per page (maximum 100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "example": 20
          },
          {
            "name": "search",
            "in": "query",
            "description": "Free-text search across company name, industry, description, keywords, and specialties",
            "schema": {
              "type": "string"
            },
            "example": "AI"
          },
          {
            "name": "countries",
            "in": "query",
            "description": "Comma-separated list of country codes to filter by",
            "schema": {
              "type": "string"
            },
            "example": "US,GB,DE"
          },
          {
            "name": "industry",
            "in": "query",
            "description": "Comma-separated list of industry names to filter by (exact match)",
            "schema": {
              "type": "string"
            },
            "example": "Software,Technology"
          },
          {
            "name": "categories",
            "in": "query",
            "description": "Pipe-separated list of company industry categories to filter by",
            "schema": {
              "type": "string"
            },
            "example": "Technology|Software"
          },
          {
            "name": "subcategories",
            "in": "query",
            "description": "Comma-separated list of subcategory IDs to filter by",
            "schema": {
              "type": "string"
            },
            "example": "ai,fintech,saas"
          },
          {
            "name": "employee_count_min",
            "in": "query",
            "description": "Minimum employee count",
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "example": 50
          },
          {
            "name": "employee_count_max",
            "in": "query",
            "description": "Maximum employee count",
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "example": 5000
          },
          {
            "name": "founded_year_min",
            "in": "query",
            "description": "Minimum founded year",
            "schema": {
              "type": "integer",
              "minimum": 1800
            },
            "example": 2020
          },
          {
            "name": "founded_year_max",
            "in": "query",
            "description": "Maximum founded year",
            "schema": {
              "type": "integer",
              "minimum": 1800
            },
            "example": 2025
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Field to sort by",
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "employee_count",
                "founded_year",
                "created_at"
              ],
              "default": "name"
            },
            "example": "employee_count"
          },
          {
            "name": "sort_order",
            "in": "query",
            "description": "Sort direction",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            },
            "example": "desc"
          },
          {
            "name": "count",
            "in": "query",
            "description": "If set to true, returns only the total count without data rows and without deducting credits.",
            "schema": {
              "type": "string",
              "enum": [
                "true"
              ]
            },
            "example": "true"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with companies",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Companies_CompaniesResponse"
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "name": "NextGen Software",
                      "slug": "nextgen-software",
                      "description": "Enterprise SaaS platform for workflow automation.",
                      "website": "https://www.nextgensoftware.com",
                      "linkedinUrl": "https://www.linkedin.com/company/nextgensoftware",
                      "twitterUrl": "https://twitter.com/nextgensoftware",
                      "logoUrl": "https://media.licdn.com/dms/image/example.png",
                      "industry": "Technology",
                      "foundedYear": 2018,
                      "headquartersCountry": "US",
                      "employeeCount": 250,
                      "categories": [
                        "Software",
                        "SaaS",
                        "Enterprise"
                      ],
                      "keywords": [
                        "workflow automation",
                        "enterprise",
                        "AI"
                      ],
                      "specialties": [
                        "process automation",
                        "integration"
                      ],
                      "growthInfo": {
                        "growth_1m": 1.2,
                        "growth_3m": 3.5,
                        "growth_6m": 8.1,
                        "growth_9m": 12,
                        "growth_12m": 18.5
                      },
                      "createdAt": "2024-06-15T10:30:00Z",
                      "updatedAt": "2024-11-20T14:00:00Z"
                    },
                    {
                      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
                      "name": "HealthTech Solutions",
                      "slug": "healthtech-solutions",
                      "description": "AI-powered healthcare diagnostics platform for early disease detection.",
                      "website": "https://www.healthtechsolutions.co.uk",
                      "linkedinUrl": "https://www.linkedin.com/company/healthtechsolutions",
                      "twitterUrl": null,
                      "logoUrl": "https://media.licdn.com/dms/image/example2.png",
                      "industry": "Healthcare Technology",
                      "foundedYear": 2022,
                      "headquartersCountry": "GB",
                      "employeeCount": 85,
                      "categories": [
                        "Healthcare",
                        "AI"
                      ],
                      "keywords": [
                        "diagnostics",
                        "AI",
                        "health"
                      ],
                      "specialties": [
                        "disease detection",
                        "medical imaging"
                      ],
                      "growthInfo": null,
                      "createdAt": "2024-08-01T09:00:00Z",
                      "updatedAt": "2024-11-18T11:30:00Z"
                    }
                  ],
                  "pagination": {
                    "currentPage": 1,
                    "totalPages": 200,
                    "totalCount": 4000,
                    "hasNextPage": true,
                    "hasPreviousPage": false
                  },
                  "meta": {
                    "endpoint": "companies.list",
                    "creditsUsed": 1,
                    "creditsRemaining": 4999
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Companies_ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": "Invalid API key"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Companies_ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": "out of credits, please contact support to increase your usage"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Companies_ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": "Rate limit exceeded. Please try again later."
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Companies_ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": "An unknown error occurred"
                }
              }
            }
          }
        }
      }
    },
    "/csv-enrichment": {
      "post": {
        "summary": "Create CSV Enrichment Job",
        "description": "Submit companies for enrichment. Each company must include at least one identifier: company name, website URL/domain, or LinkedIn URL. The endpoint costs 1 credit per accepted job. Add wait=true for small lists to return completed results inline when processing finishes within timeout seconds.",
        "operationId": "createCSVEnrichmentJob",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Csv_CSVEnrichmentRequest"
              },
              "example": {
                "fileName": "target-accounts.csv",
                "wait": true,
                "timeout": 30,
                "companies": [
                  {
                    "company_name": "Mollie",
                    "website_url": "mollie.com",
                    "external_id": "acct_123"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enrichment job accepted. If wait=true and processing completed, data also includes status, summary, and results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Csv_CSVEnrichmentCreateResponse"
                },
                "examples": {
                  "accepted": {
                    "summary": "Asynchronous job accepted",
                    "value": {
                      "success": true,
                      "data": {
                        "jobId": "7f4b7a34-8d65-4cc3-8ab0-3477f8a967a6",
                        "detectedMapping": {
                          "companyName": "company_name",
                          "websiteUrl": "website_url",
                          "linkedinUrl": "linkedin_url"
                        }
                      },
                      "meta": {
                        "endpoint": "csv.enrichment",
                        "creditsUsed": 1,
                        "creditsRemaining": 999
                      }
                    }
                  },
                  "waitCompleted": {
                    "summary": "wait=true completed within timeout",
                    "value": {
                      "success": true,
                      "data": {
                        "jobId": "7f4b7a34-8d65-4cc3-8ab0-3477f8a967a6",
                        "detectedMapping": {
                          "companyName": "company_name",
                          "websiteUrl": "website_url",
                          "linkedinUrl": null
                        },
                        "status": "completed",
                        "progress": {
                          "processed": 1,
                          "total": 1
                        },
                        "submittedAt": "2026-05-12T07:25:42.000Z",
                        "completedAt": "2026-05-12T07:26:01.000Z",
                        "summary": {
                          "totalInputs": 1,
                          "matched": 1,
                          "unmatched": 0,
                          "withFundingSignals": 0,
                          "withAcquisitionSignals": 0,
                          "withHiringSignals": 1,
                          "withJobChangeSignals": 0
                        },
                        "results": [
                          {
                            "input": {
                              "company_name": "Mollie",
                              "website_url": "mollie.com"
                            },
                            "matched": true,
                            "companyId": "c5ff2e53-0c99-4b6a-964e-63c2fc7e2a8e",
                            "company": {
                              "name": "Mollie",
                              "domain": "mollie.com",
                              "industry": "Financial Services",
                              "country": "NL",
                              "employeeCount": 850
                            },
                            "signals": {
                              "funding": [],
                              "acquisition": [],
                              "hiring": [],
                              "job_change": [],
                              "investors": []
                            }
                          }
                        ],
                        "nextCursor": null
                      },
                      "meta": {
                        "endpoint": "csv.enrichment",
                        "creditsUsed": 1,
                        "creditsRemaining": 999
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "403": {
            "$ref": "#/components/responses/SubscriptionExpired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/csv-enrichment/{jobId}": {
      "get": {
        "summary": "Get CSV Enrichment Job",
        "description": "Retrieve job status, progress, summary counts, and completed results. Polling is free and returns creditsUsed: 0. Results are paginated with cursor and limit.",
        "operationId": "getCSVEnrichmentJob",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "description": "Job ID returned by POST /csv-enrichment",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor returned as data.nextCursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Results per page. Defaults to 50, maximum 100.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job status and results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Csv_CSVEnrichmentGetResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/SubscriptionExpired"
          },
          "404": {
            "$ref": "#/components/responses/JobNotFound"
          },
          "410": {
            "$ref": "#/components/responses/JobExpired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/webhooks": {
      "post": {
        "summary": "Create Webhook",
        "description": "Create a webhook subscription for the authenticated team. The full signing secret is returned exactly once in this response — store it now, because every later read returns only a 4-character preview. Creating a webhook is free (0 API credits). A team may have at most 10 active webhooks.",
        "operationId": "createWebhook",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Webhook_WebhookCreateRequest"
              },
              "example": {
                "endpoint_url": "https://example.com/hooks/signalbase",
                "event_types": [
                  "funding.created",
                  "hiring.created"
                ],
                "filters": {
                  "countries": "US,GB"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook created. data includes the full signing secret (shown only on create).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook_WebhookCreateResponse"
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": "b1f2c3d4-5e6f-4a7b-8c9d-0e1f2a3b4c5d",
                    "endpoint_url": "https://example.com/hooks/signalbase",
                    "event_types": [
                      "funding.created",
                      "hiring.created"
                    ],
                    "filters": {
                      "countries": "US,GB"
                    },
                    "active": true,
                    "created_at": "2026-05-29T10:30:00.000Z",
                    "updated_at": "2026-05-29T10:30:00.000Z",
                    "last_modified_by": "user_2a9f8c7b6d5e4f3a",
                    "last_modified_via": "api",
                    "secret": "3f9a1c7e-2b4d-4e6a-9f1b-8c2d3e4f5a6b",
                    "stats": {
                      "total_deliveries": 0,
                      "successful_deliveries": 0,
                      "failed_deliveries": 0,
                      "last_success_at": null,
                      "last_failure_at": null,
                      "consecutive_failures": 0
                    }
                  },
                  "meta": {
                    "endpoint": "webhooks.create",
                    "creditsUsed": 0
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/SubscriptionExpired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "get": {
        "summary": "List Webhooks",
        "description": "List the authenticated team's active webhook subscriptions, newest first. Secrets are never returned here — each item includes only secret_preview. Free (0 credits).",
        "operationId": "listWebhooks",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of webhooks to return. Minimum 1, maximum 100, default 100.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of webhooks to skip for pagination. Default 0.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of webhook subscriptions (secret preview only).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook_WebhookListResponse"
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "b1f2c3d4-5e6f-4a7b-8c9d-0e1f2a3b4c5d",
                      "endpoint_url": "https://example.com/hooks/signalbase",
                      "event_types": [
                        "funding.created",
                        "hiring.created"
                      ],
                      "filters": {
                        "countries": "US,GB"
                      },
                      "active": true,
                      "created_at": "2026-05-29T10:30:00.000Z",
                      "updated_at": "2026-05-29T10:30:00.000Z",
                      "last_modified_by": "user_2a9f8c7b6d5e4f3a",
                      "last_modified_via": "api",
                      "secret_preview": "…5a6b",
                      "stats": {
                        "total_deliveries": 42,
                        "successful_deliveries": 40,
                        "failed_deliveries": 2,
                        "last_success_at": "2026-05-29T12:00:00.000Z",
                        "last_failure_at": "2026-05-28T09:00:00.000Z",
                        "consecutive_failures": 0
                      }
                    }
                  ],
                  "pagination": {
                    "limit": 100,
                    "offset": 0,
                    "count": 1
                  },
                  "meta": {
                    "endpoint": "webhooks.list",
                    "creditsUsed": 0
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/SubscriptionExpired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/webhooks/{id}": {
      "get": {
        "summary": "Retrieve Webhook",
        "description": "Retrieve a single active webhook by ID. Returns secret_preview only (never the full secret). Soft-deleted webhooks return 404. Free (0 credits).",
        "operationId": "getWebhook",
        "parameters": [
          {
            "$ref": "#/components/parameters/WebhookId"
          }
        ],
        "responses": {
          "200": {
            "description": "The webhook subscription (secret preview only).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook_WebhookGetResponse"
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": "b1f2c3d4-5e6f-4a7b-8c9d-0e1f2a3b4c5d",
                    "endpoint_url": "https://example.com/hooks/signalbase",
                    "event_types": [
                      "funding.created",
                      "hiring.created"
                    ],
                    "filters": {
                      "countries": "US,GB"
                    },
                    "active": true,
                    "created_at": "2026-05-29T10:30:00.000Z",
                    "updated_at": "2026-05-29T10:30:00.000Z",
                    "last_modified_by": "user_2a9f8c7b6d5e4f3a",
                    "last_modified_via": "api",
                    "secret_preview": "…5a6b",
                    "stats": {
                      "total_deliveries": 42,
                      "successful_deliveries": 40,
                      "failed_deliveries": 2,
                      "last_success_at": "2026-05-29T12:00:00.000Z",
                      "last_failure_at": "2026-05-28T09:00:00.000Z",
                      "consecutive_failures": 0
                    }
                  },
                  "meta": {
                    "endpoint": "webhooks.get",
                    "creditsUsed": 0
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/SubscriptionExpired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "put": {
        "summary": "Update Webhook",
        "description": "Update any subset of a webhook's fields. Set rotate_secret to true to mint a new signing secret — the response then includes the full new secret (shown only on rotation) and the previous secret immediately stops verifying. Set active to true to re-enable a previously deleted webhook. Free (0 credits).",
        "operationId": "updateWebhook",
        "parameters": [
          {
            "$ref": "#/components/parameters/WebhookId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Webhook_WebhookUpdateRequest"
              },
              "examples": {
                "changeEvents": {
                  "summary": "Change subscribed events and pause",
                  "value": {
                    "event_types": [
                      "funding.created"
                    ],
                    "active": false
                  }
                },
                "rotateSecret": {
                  "summary": "Rotate the signing secret",
                  "value": {
                    "rotate_secret": true
                  }
                }
              }
            }
          }
        },
[...]
