{
  "openapi": "3.1.0",
  "info": {
    "title": "Funding Signals API",
    "description": "Access real-time funding signals with advanced filtering, pagination, and search capabilities. This API provides comprehensive funding intelligence aggregated from web sources, including funding rounds, amounts, and investor information.",
    "license": {
      "name": "MIT"
    },
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://www.trysignalbase.com/api/v2"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/signals/funding": {
      "get": {
        "summary": "Get Funding Signals",
        "description": "Fetch funding signals with filtering, pagination, and search capabilities. Returns a list of companies with funding activity including round types, amounts, and investor information.",
        "operationId": "getFundingSignals",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "example": 1
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results per page (maximum 100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "example": 20
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "Filter signals from this date (ISO 8601 format: YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2024-01-01"
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "Filter signals up to this date (ISO 8601 format: YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2024-12-31"
          },
          {
            "name": "date_preset",
            "in": "query",
            "description": "Relative date shorthand. Takes precedence over dateFrom/dateTo when provided.",
            "schema": {
              "type": "string",
              "enum": [
                "today",
                "yesterday",
                "last_7d",
                "last_14d",
                "last_30d",
                "last_60d",
                "last_90d",
                "last_6m",
                "last_1y",
                "last_2y",
                "this_week",
                "this_month",
                "this_quarter",
                "this_year",
                "last_week",
                "last_month",
                "last_quarter",
                "last_year"
              ]
            },
            "example": "last_30d"
          },
          {
            "name": "countries",
            "in": "query",
            "description": "Comma-separated list of country codes to filter by",
            "schema": {
              "type": "string"
            },
            "example": "US,GB,CA"
          },
          {
            "name": "categories",
            "in": "query",
            "description": "Pipe-separated list of company categories / industries to filter by",
            "schema": {
              "type": "string"
            },
            "example": "Technology|Healthcare"
          },
          {
            "name": "round",
            "in": "query",
            "description": "Comma-separated list of funding round types to filter by",
            "schema": {
              "type": "string"
            },
            "example": "Seed,Series A"
          },
          {
            "name": "round_flavor",
            "in": "query",
            "description": "Comma-separated list of round flavors to filter by",
            "schema": {
              "type": "string",
              "enum": ["bridge", "extension", "secondary"]
            },
            "example": "bridge"
          },
          {
            "name": "subcategories",
            "in": "query",
            "description": "Comma-separated list of subcategory IDs to filter by. These filter companies based on their assigned subcategory.",
            "schema": {
              "type": "string",
              "enum": [
                "ai",
                "saas",
                "software",
                "cybersecurity",
                "web3",
                "devtools",
                "analytics",
                "cloud",
                "iot",
                "fintech",
                "payments",
                "accounting",
                "ecommerce",
                "insurance",
                "vc & investment",
                "regtech",
                "marketing",
                "advertising",
                "sales",
                "hr tech",
                "legal",
                "healthcare",
                "biotechnology",
                "education",
                "real estate",
                "energy",
                "logistics",
                "manufacturing",
                "retail",
                "agriculture",
                "food & beverage",
                "automotive",
                "aerospace & defense",
                "robotics",
                "telecommunications",
                "travel",
                "sports",
                "gaming",
                "media",
                "govtech",
                "construction",
                "environmental services",
                "battery technology",
                "arts",
                "architecture",
                "cosmetics",
                "science",
                "non-profit"
              ]
            },
            "example": "ai,fintech"
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search by company name or industry keywords",
            "schema": {
              "type": "string"
            },
            "example": "fintech"
          },
          {
            "name": "industry",
            "in": "query",
            "description": "Comma-separated list of exact industry names to filter by",
            "schema": {
              "type": "string"
            },
            "example": "Financial Services,Healthcare"
          },
          {
            "name": "company_name",
            "in": "query",
            "description": "Search by company name (partial match)",
            "schema": {
              "type": "string"
            },
            "example": "stripe"
          },
          {
            "name": "amount_min",
            "in": "query",
            "description": "Minimum funding amount in USD cents",
            "schema": {
              "type": "integer"
            },
            "example": 1000000
          },
          {
            "name": "amount_max",
            "in": "query",
            "description": "Maximum funding amount in USD cents",
            "schema": {
              "type": "integer"
            },
            "example": 50000000
          },
          {
            "name": "currency",
            "in": "query",
            "description": "Currency symbol filter",
            "schema": {
              "type": "string",
              "enum": ["$", "€", "£", "¥", "₹", "A$", "C$", "CHF", "SEK", "NOK", "DKK", "SGD", "HKD", "BRL", "KRW"]
            },
            "example": "$"
          },
          {
            "name": "verification_status",
            "in": "query",
            "description": "Comma-separated list of verification statuses to filter by",
            "schema": {
              "type": "string",
              "enum": ["verified", "unverified", "pending"]
            },
            "example": "verified"
          },
          {
            "name": "investor_name",
            "in": "query",
            "description": "Search by investor name (partial match)",
            "schema": {
              "type": "string"
            },
            "example": "Sequoia"
          },
          {
            "name": "employee_count_min",
            "in": "query",
            "description": "Minimum company employee count",
            "schema": {
              "type": "integer"
            },
            "example": 10
          },
          {
            "name": "employee_count_max",
            "in": "query",
            "description": "Maximum company employee count",
            "schema": {
              "type": "integer"
            },
            "example": 500
          },
          {
            "name": "founded_year_min",
            "in": "query",
            "description": "Minimum company founded year",
            "schema": {
              "type": "integer"
            },
            "example": 2020
          },
          {
            "name": "founded_year_max",
            "in": "query",
            "description": "Maximum company founded year",
            "schema": {
              "type": "integer"
            },
            "example": 2025
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Field to sort results by",
            "schema": {
              "type": "string",
              "enum": ["occurred_at", "discovered_at", "amount", "employee_count", "founded_year"],
              "default": "occurred_at"
            },
            "example": "occurred_at"
          },
          {
            "name": "sort_order",
            "in": "query",
            "description": "Sort direction",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"],
              "default": "desc"
            },
            "example": "desc"
          },
          {
            "name": "count",
            "in": "query",
            "description": "When set to \"true\", returns only pagination metadata (totalCount) with an empty data array. No credits are charged.",
            "schema": {
              "type": "string",
              "enum": ["true"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with funding signals",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FundingSignalsResponse"
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "signalId": "f9422f20-bcdc-4d38-8049-4cda561bc9dd",
                      "signalType": "funding_round",
                      "occurredAt": "2026-03-17T04:05:52.903Z",
                      "discoveredAt": "2026-03-17T05:06:08.184Z",
                      "companyId": "3bba1b2e-fb85-485e-80d5-5cc4617cfe13",
                      "companyName": "dtcpay",
                      "companySlug": "dtcpay",
                      "companyLogo": "https://images.trysignalbase.com/dtcpay.png",
                      "companyWebsite": "dtcpay.com",
                      "companyLinkedin": "linkedin.com/company/digital-treasures-center-pte-ltd",
                      "companyIndustry": "Financial Services",
                      "companyCountry": "SG",
                      "companySubcategory": "fintech",
                      "companyFoundedYear": 2019,
                      "companyCategories": "[\"Financial Services\",\"Payments\"]",
                      "companyDescription": "dtcpay is a regulated payment service provider enabling seamless digital payments.",
                      "companyEmployeeCount": 125,
                      "roundType": "Series A",
                      "roundFlavor": null,
                      "amount": 10000000,
                      "currency": "$",
                      "announcedDate": "2026-03-17",
                      "confidenceScore": 0.95,
                      "verificationStatus": "verified",
                      "isFreeAccess": true,
                      "investors": [
                        {
                          "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                          "name": "Sequoia Capital",
                          "type": "vc",
                          "website": "https://www.sequoiacap.com",
                          "linkedin": "linkedin.com/company/sequoia-capital",
                          "isLead": true
                        },
                        {
                          "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
                          "name": "Andreessen Horowitz",
                          "type": "vc",
                          "website": "https://a16z.com",
                          "linkedin": "linkedin.com/company/a16z",
                          "isLead": false
                        }
                      ],
                      "sources": [
                        {
                          "url": "https://technode.global/2026/03/17/dtcpay-raises-10m-series-a",
                          "sourceType": "news_article",
                          "title": "dtcpay raises $10M in Series A led by Sequoia Capital",
                          "publishedAt": "2026-03-17T04:05:52.903Z",
                          "isPrimary": true
                        }
                      ]
                    }
                  ],
                  "pagination": {
                    "currentPage": 1,
                    "totalPages": 15,
                    "totalCount": 300,
                    "hasNextPage": true,
                    "hasPreviousPage": false
                  },
                  "meta": {
                    "endpoint": "signals.funding",
                    "creditsUsed": 1,
                    "creditsRemaining": 999
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": "Invalid API key"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": "out of credits, please contact support to increase your usage"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": "Rate limit exceeded. Please try again later."
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": "An unknown error occurred"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "FundingSignalsResponse": {
        "type": "object",
        "required": ["success", "data", "pagination", "meta"],
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indicates if the request was successful",
            "example": true
          },
          "data": {
            "type": "array",
            "description": "Array of funding signal records",
            "items": {
              "$ref": "#/components/schemas/FundingSignal"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "FundingSignal": {
        "type": "object",
        "required": ["signalId", "signalType", "occurredAt", "discoveredAt", "companyName", "roundType"],
        "properties": {
          "signalId": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the funding signal",
            "example": "f9422f20-bcdc-4d38-8049-4cda561bc9dd"
          },
          "signalType": {
            "type": "string",
            "description": "Type of signal (always \"funding_round\" for this endpoint)",
            "example": "funding_round"
          },
          "occurredAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the funding event occurred",
            "example": "2026-03-17T04:05:52.903Z"
          },
          "discoveredAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the signal was discovered by our system",
            "example": "2026-03-17T05:06:08.184Z"
          },
          "companyId": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the company",
            "example": "3bba1b2e-fb85-485e-80d5-5cc4617cfe13"
          },
          "companyName": {
            "type": "string",
            "description": "Name of the company that received funding",
            "example": "dtcpay"
          },
          "companySlug": {
            "type": "string",
            "description": "URL-friendly slug for the company",
            "example": "dtcpay"
          },
          "companyLogo": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "URL to the company logo image",
            "example": "https://images.trysignalbase.com/dtcpay.png"
          },
          "companyWebsite": {
            "type": "string",
            "nullable": true,
            "description": "Company website URL",
            "example": "dtcpay.com"
          },
          "companyLinkedin": {
            "type": "string",
            "nullable": true,
            "description": "LinkedIn company page URL",
            "example": "linkedin.com/company/digital-treasures-center-pte-ltd"
          },
          "companyIndustry": {
            "type": "string",
            "nullable": true,
            "description": "Industry sector of the company",
            "example": "Financial Services"
          },
          "companyCountry": {
            "type": "string",
            "nullable": true,
            "description": "Country code where the company is headquartered",
            "example": "SG"
          },
          "companySubcategory": {
            "type": "string",
            "nullable": true,
            "description": "Assigned company subcategory ID (same vocabulary as the `subcategories` query filter). Null when not classified.",
            "example": "fintech"
          },
          "companyFoundedYear": {
            "type": "integer",
            "nullable": true,
            "description": "Year the company was founded",
            "example": 2019
          },
          "companyCategories": {
            "type": "string",
            "nullable": true,
            "description": "JSON-encoded array of company categories",
            "example": "[\"Financial Services\",\"Payments\"]"
          },
          "companyDescription": {
            "type": "string",
            "nullable": true,
            "description": "Company description",
            "example": "dtcpay is a regulated payment service provider enabling seamless digital payments."
          },
          "companyEmployeeCount": {
            "type": "integer",
            "nullable": true,
            "description": "Number of employees",
            "example": 125
          },
          "roundType": {
            "type": "string",
            "nullable": true,
            "description": "Type of funding round",
            "enum": [
              "Pre-Seed",
              "Seed",
              "Series A",
              "Series B",
              "Series C",
              "Series D",
              "Series E",
              "Series F",
              "Series G",
              "Growth",
              "Debt",
              "Grant",
              "IPO",
              "Undisclosed"
            ],
            "example": "Series A"
          },
          "roundFlavor": {
            "type": "string",
            "nullable": true,
            "description": "Flavor/variant of the funding round (null for standard rounds)",
            "enum": ["bridge", "extension", "secondary"],
            "example": null
          },
          "amount": {
            "type": "integer",
            "nullable": true,
            "description": "Funding amount in USD cents",
            "example": 10000000
          },
          "currency": {
            "type": "string",
            "description": "Currency symbol for the funding amount",
            "example": "$"
          },
          "announcedDate": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "Date when the funding was announced (YYYY-MM-DD)",
            "example": "2026-03-17"
          },
          "confidenceScore": {
            "type": "number",
            "format": "double",
            "nullable": true,
            "description": "AI confidence score for this signal (0.0 to 1.0)",
            "minimum": 0,
            "maximum": 1,
            "example": 0.95
          },
          "verificationStatus": {
            "type": "string",
            "description": "Verification status of the funding signal",
            "enum": ["verified", "unverified", "pending"],
            "example": "verified"
          },
          "isFreeAccess": {
            "type": "boolean",
            "description": "Whether full data is accessible (always true for authenticated requests)",
            "example": true
          },
          "investors": {
            "type": "array",
            "description": "List of investors participating in this round",
            "items": {
              "$ref": "#/components/schemas/Investor"
            }
          },
          "sources": {
            "type": "array",
            "description": "List of source articles and references for this signal",
            "items": {
              "$ref": "#/components/schemas/Source"
            }
          }
        }
      },
      "Investor": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the investor",
            "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
          },
          "name": {
            "type": "string",
            "description": "Name of the investor",
            "example": "Sequoia Capital"
          },
          "type": {
            "type": "string",
            "nullable": true,
            "description": "Type of investor",
            "enum": ["vc", "angel", "pe", "corporate", "government", "accelerator", "family_office", "hedge_fund", "crowdfunding"],
            "example": "vc"
          },
          "website": {
            "type": "string",
            "nullable": true,
            "description": "Investor website URL",
            "example": "https://www.sequoiacap.com"
          },
          "linkedin": {
            "type": "string",
            "nullable": true,
            "description": "Investor LinkedIn URL",
            "example": "linkedin.com/company/sequoia-capital"
          },
          "isLead": {
            "type": "boolean",
            "description": "Whether this investor is the lead investor for this round",
            "example": true
          }
        }
      },
      "Source": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "URL of the source article",
            "example": "https://technode.global/2026/03/17/dtcpay-raises-10m-series-a"
          },
          "sourceType": {
            "type": "string",
            "nullable": true,
            "description": "Type of source",
            "enum": ["press_release", "news_article", "social_media", "blog_post", "sec_filing", "crunchbase", "pitchbook"],
            "example": "news_article"
          },
          "title": {
            "type": "string",
            "nullable": true,
            "description": "Title of the source article",
            "example": "dtcpay raises $10M in Series A led by Sequoia Capital"
          },
          "publishedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "When the source was published",
            "example": "2026-03-17T04:05:52.903Z"
          },
          "isPrimary": {
            "type": "boolean",
            "description": "Whether this is the primary source for the signal",
            "example": true
          }
        }
      },
      "Pagination": {
        "type": "object",
        "required": ["currentPage", "totalPages", "totalCount", "hasNextPage", "hasPreviousPage"],
        "properties": {
          "currentPage": {
            "type": "integer",
            "description": "Current page number",
            "minimum": 1,
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "description": "Total number of pages available",
            "minimum": 0,
            "example": 15
          },
          "totalCount": {
            "type": "integer",
            "description": "Total number of records matching the query",
            "minimum": 0,
            "example": 300
          },
          "hasNextPage": {
            "type": "boolean",
            "description": "Indicates if there is a next page",
            "example": true
          },
          "hasPreviousPage": {
            "type": "boolean",
            "description": "Indicates if there is a previous page",
            "example": false
          }
        }
      },
      "Meta": {
        "type": "object",
        "required": ["endpoint", "creditsUsed"],
        "properties": {
          "endpoint": {
            "type": "string",
            "description": "The endpoint that was called",
            "example": "signals.funding"
          },
          "creditsUsed": {
            "type": "number",
            "description": "Number of API credits consumed by this request",
            "minimum": 0,
            "example": 1
          },
          "creditsRemaining": {
            "type": "number",
            "description": "Number of API credits remaining after this request",
            "example": 999
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": ["success", "error"],
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indicates if the request was successful (always false for errors)",
            "example": false
          },
          "error": {
            "type": "string",
            "description": "Error message describing what went wrong",
            "example": "Invalid API key"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "API key for Funding Signals API authentication. Include as Bearer token in Authorization header."
      }
    }
  }
}
